@mixin display_flex($justify: flex-start, $align: stretch) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
.display_flex {
  @include display_flex();
}
.display_flex__center {
  @include display_flex(center, center);
}
.display_flex__between {
  @include display_flex(space-between, center);
}
.gap-1 {
  gap: 0.5rem;
}
.gap-2 {
  gap: 1rem;
}
.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
